.WorldWeather {
  border: 1px solid #fff;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .dropDown {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 250px;
    color: white;

    option {
      background: rgba(0, 0, 0, 0.3);
      background-color: #2b2b2b;
    }
  }

  .weatherDiv {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .forecast {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .townNtemp {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .hum {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .wind {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .img {
      width: 24px;
      height: 24px;
    }
  }
}
